<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Homepage</title>
{% load staticfiles %}
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<body>
<div id="header1">Canteen Admin</div>
<div id="left">
<div style="font-size:16pt;">
<p><a href="update_user_credit">Update User Credit</a></p>
<p ><a href="add_item">Add item</a></p>
<p ><a href="order_today">Today's order</a></p>
<p ><a href="edit_item">Edit item</a></p>
<p ><a href="remove_item">Remove an item</a></p>
<p ><a href="/logout">Logout</a></p>
</div>
</div>
</body>
</html>